.button {
	-fx-background-color:transparent;
     -fx-font-size: 20pt;
	-fx-font-family: "Georgia";
     -fx-border-color: #a8cca0;
     -fx-border-radius: 5;
     -fx-border-width: 3px;
    -fx-text-fill: #000000;

     }
.button:hover {
         -fx-background-color: #d3d3d3;
         -fx-color: white;

     }

.label{
-fx-font-size: 16;
-fx-font-family: "Georgia";
}

.text{
-fx-font-size: 16;
-fx-font-family: "Georgia";
}

#labelTime{
-fx-text-fill: #a8cca0;
-fx-font-weight: bold;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 16;
}


.list-cell:filled:selected {
    -fx-text-fill: #ffffff;
    -fx-background-color:  #a8cca0;
    -fx-border-color: #a8cca0;

}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

#labeltddt{
-fx-font: 30px Georgia;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #a8cca0 0%, black 50%);
    -fx-stroke: white;
    -fx-stroke-width: 1;
    }

#zurueck{
-fx-background-image: url('./Bilder/folder-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 5% 50% ;


}
#accept{
-fx-background-image: url('./Bilder/pause-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 5% 50% ;
}

#zumTestCode {
-fx-background-image: url('./Bilder/rewind-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 5% 50% ;

}

#hinzufuegen {
-fx-background-image: url('./Bilder/addition-icon.jpg');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 5% 50% ;

}

#exitMenu {
-fx-background-image: url('./Bilder/close-2-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 10% 50% ;

}


#startMenu {
-fx-background-image: url('./Bilder/fastforward-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 10% 50% ;

}
#Refactor {
-fx-background-image: url('./Bilder/reload-icon.png');

  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 10% 50% ;


}

#Starten{
-fx-background-image: url('./Bilder/play-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: 24px 24px;
  -fx-background-position: 5% 50% ;



}

#rootPane {
    -fx-background-color:	white;


}


